# .github/workflows/ci.yml
name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  lint-and-tests:
    runs-on: ubuntu-latest

    steps:
      # Clone the repo to provide to Github actions runner
      - uses: actions/checkout@v4

      # Setup node
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      # Install dependencies
      - run: npm ci

      # Run linter
      - run: npm run lint

      # Run tests
      - run: npm test
