# .github/workflows/render-deploy.yml
name: Render Deploy

on:
  push:
    branches:
      - main  # Trigger only when main branch is updated

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository (optional)
      - uses: actions/checkout@v4

      # Trigger the Render deploy webhook
      - name: Trigger Render deploy
        env:
          DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl -sS -f -X POST $DEPLOY_HOOK_URL
          echo "Triggered Render deploy webhook"
